body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.example {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.example > .header {
  width: 100%;
  padding: 0 1rem;
}

.example > .data {
  width: 50%;
  min-height: 50vh;
}

.example > .preview {
  width: 50%;
  min-height: 50vh;
}

.example > .spec {
  width: 100%;
}

.spec > .jasmine_html-reporter {
  margin: 0;
}
