* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
}

body > .sidebar {
  min-width: 18.1rem;
  padding: 0 1rem;
}

body > .sidebar .navigation .link.tree {
  margin: 0;
  padding: 0 0 0 1rem;
}

body > .example {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
}

body > .example > .header {
  width: 100%;
}

body > .example > .data {
  width: 50%;
  min-height: 50vh;
  border-right: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

body > .example > .preview {
  width: 50%;
  min-height: 50vh;
  border-top: 1px solid #e8e8e8;
}

body > .example > .spec {
  width: 100%;
}

body > .example > .spec > .jasmine_html-reporter {
  margin: 0;
}
