* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
}

.sidebar {
  padding: 0 1rem;
  background-color: #f6f6f6;
}

.navigation .link.tree {
  margin: 0;
  padding: 0 0 0 1rem;
}

.example {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
}

.example > .header {
  padding: 0 1rem;
  width: 100%;
}

.example > .data {
  width: 50%;
  min-height: 50vh;
}

.example > .preview {
  width: 50%;
  min-height: 50vh;
}

.example > .spec {
  width: 100%;
}

.spec > .jasmine_html-reporter {
  margin: 0;
}
